---
import Footer from '../components/footer.astro';
import Header from '../components/header.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>
			{process.env.SITE_NAME}✨ Best Login Solution for everyone
		</title>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>

		<link
			href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700"
			rel="stylesheet"
		/>
		<!-- <link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/> -->

		<!-- <link rel="stylesheet" href="../../css/animate.css" />

		<link rel="stylesheet" href="../../css/owl.carousel.min.css" />
		<link rel="stylesheet" href="../../css/owl.theme.default.min.css" />
		<link rel="stylesheet" href="../../css/magnific-popup.css" /> -->

		<link rel="stylesheet" href="../../css/flaticon.css" />
		<link rel="stylesheet" href="../../css/style.css" />
		<link rel="stylesheet" href="../../css/post.css" />
	</head>
	<body>
		<Header></Header>

    <div class="hero-wrap js-fullheight">
      <div class="overlay"></div>
      <div class="container-fluid px-0">
          <div class="row d-md-flex no-gutters slider-text align-items-center js-fullheight justify-content-start">
              <img class="one-third js-fullheight align-self-end order-md-first img-fluid"
                  src="images/undraw_co-working_825n.svg" alt="">
              <div class="one-forth d-flex align-items-center  js-fullheight">
                  <div class="text mt-5">
                      <span class="subheading">Login Collector</span>
                      <h1 class="mb-3"><span>Login,</span> <span>With,</span> <span>Us</span></h1>
                      <p>We are glad to present best login help our authors had collected for you.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <section class="ftco-section ftco-partner">
      <div class="container">
          <div class="row">
              <div class="col-sm ">
                  <a href="#" class="partner"><img src="images/partner-1.png" class="img-fluid"
                          alt="Login partner"></a>
              </div>
              <div class="col-sm ">
                  <a href="#" class="partner"><img src="images/partner-2.png" class="img-fluid"
                          alt="Login partner"></a>
              </div>
              <div class="col-sm ">
                  <a href="#" class="partner"><img src="images/partner-3.png" class="img-fluid"
                          alt="Login partner"></a>
              </div>
              <div class="col-sm ">
                  <a href="#" class="partner"><img src="images/partner-4.png" class="img-fluid"
                          alt="Login partner"></a>
              </div>
              <div class="col-sm ">
                  <a href="#" class="partner"><img src="images/partner-5.png" class="img-fluid"
                          alt="Login partner"></a>
              </div>
          </div>
      </div>
  </section>

  <section class="ftco-section services-section bg-light">
      <div class="container">
          <div class="row justify-content-center mb-5">
              <div class="col-md-8 text-center heading-section ">
                  <h2 class="mb-3">Our Services</h2>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-4 col-md-6 d-flex align-self-stretch ">
                  <div class="media block-6 services d-flex">
                      <div class="icon d-flex align-items-center justify-content-center">
                          <span class="flaticon-cloud"></span>
                      </div>
                      <div class="media-body pl-4">
                          <h3 class="heading">Huge databases</h3>
                          <p class="mb-0">We store millions of login pages.</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 d-flex align-self-stretch ">
                  <div class="media block-6 services d-flex">
                      <div class="icon d-flex align-items-center justify-content-center">
                          <span class="flaticon-server"></span>
                      </div>
                      <div class="media-body pl-4">
                          <h3 class="heading">Quick access</h3>
                          <p class="mb-0">Our service can be used as bookmark to help you with quick access to
                              websites.</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 d-flex align-self-stretch ">
                  <div class="media block-6 services d-flex">
                      <div class="icon d-flex align-items-center justify-content-center">
                          <span class="flaticon-customer-service"></span>
                      </div>
                      <div class="media-body pl-4">
                          <h3 class="heading">File Storage</h3>
                          <p>{process.env.SITE_NAME} collects best files from millions of websites.</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 d-flex align-self-stretch ">
                  <div class="media block-6 services d-flex">
                      <div class="icon d-flex align-items-center justify-content-center">
                          <span class="flaticon-life-insurance"></span>
                      </div>
                      <div class="media-body pl-4">
                          <h3 class="heading">Privacy</h3>
                          <p>Our algorithms uses latest technologies to secure your privacy .</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 d-flex align-self-stretch ">
                  <div class="media block-6 services d-flex">
                      <div class="icon d-flex align-items-center justify-content-center">
                          <span class="flaticon-cloud-computing"></span>
                      </div>
                      <div class="media-body pl-4">
                          <h3 class="heading">Data Backups</h3>
                          <p>We backup your login data to maintain your data safe.</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 d-flex align-self-stretch ">
                  <div class="media block-6 services d-flex">
                      <div class="icon d-flex align-items-center justify-content-center">
                          <span class="flaticon-settings"></span>
                      </div>
                      <div class="media-body pl-4">
                          <h3 class="heading">Remote authorization</h3>
                          <p>Our service helps you to maintain your authorization data avaible on all your devices.
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>


  <section class="ftco-section">
      <div class="container">
          <div class="row justify-content-center mb-5">
              <div class="col-md-8 text-center heading-section ">
                  <h2 class="mb-3">What {process.env.SITE_NAME} Can Do For You</h2>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-6 py-5 d-flex align-items-center">
                  <img src="images/undraw_referral_4ki4.svg" class="img-fluid" alt="">
              </div>
              <div class="col-lg-6 py-5">
                  <div class="row">
                      <div class="col-md-12  d-flex">
                          <div class="media block-6 services border d-flex p-3 mb-3">
                              <div class="icon icon-2 d-flex align-items-center justify-content-center">
                                  <span class="flaticon-cloud-computing"></span>
                              </div>
                              <div class="media-body pl-4">
                                  <h3 class="heading">Resposive Design</h3>
                                  <p class="mb-0">{process.env.SITE_NAME} looks good on every device</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-12  d-flex">
                          <div class="media block-6 services border d-flex p-3 mb-3">
                              <div class="icon icon-2 d-flex align-items-center justify-content-center">
                                  <span class="flaticon-cloud"></span>
                              </div>
                              <div class="media-body pl-4">
                                  <h3 class="heading">Andriod Apps</h3>
                                  <p class="mb-0">We work with best Andriod applications</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-12  d-flex">
                          <div class="media block-6 services border d-flex p-3 mb-3">
                              <div class="icon icon-2 d-flex align-items-center justify-content-center">
                                  <span class="flaticon-server"></span>
                              </div>
                              <div class="media-body pl-4">
                                  <h3 class="heading">iOs Apps</h3>
                                  <p class="mb-0">We work with best iOs applications</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-12  d-flex">
                          <div class="media block-6 services border d-flex p-3 mb-3">
                              <div class="icon icon-2 d-flex align-items-center justify-content-center">
                                  <span class="flaticon-database"></span>
                              </div>
                              <div class="media-body pl-4">
                                  <h3 class="heading">Login help</h3>
                                  <p class="mb-0">We will help with troubleshooting your login issues</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-12  d-flex">
                          <div class="media block-6 services border d-flex p-3 mb-3">
                              <div class="icon icon-2 d-flex align-items-center justify-content-center">
                                  <span class="flaticon-database"></span>
                              </div>
                              <div class="media-body pl-4">
                                  <h3 class="heading">Various signUp services</h3>
                                  <p class="mb-0">We help you to choose the best SignUp options.</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

 

  <section class="ftco-section ftco-no-pt ftco-no-pb bg-light">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-10">
                  <div class="intro">
                      <div class="row">
                          <div class="col-md-8">
                              <h3>Have any question about us?</h3>
                              <p>Feel free to ask anything about {process.env.SITE_NAME}.</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <section class="ftco-section ftco-no-pb bg-light ftco-faqs">
      <div class="container">
          <div class="row">
              <div class="col-lg-6">
                  <div class="img img-faqs mb-4 mb-sm-0" style="background-image:url(images/about-2.jpg);">
                  </div>
              </div>
              <div class="col-lg-6 pl-lg-5">
                  <div class="heading-section mb-5 mt-5 mt-lg-0">
                      <!-- <span class="subheading">FAQs</span> -->
                      <h2 class="mb-3">Frequently Asks Questions</h2>
                      <p>Here are some quick answers to frequently asks questions</p>
                  </div>
                  <div id="accordion" class="myaccordion w-100" aria-multiselectable="true">
                      <div class="card">
                          <div class="card-header p-0" id="headingOne">
                              <h2 class="mb-0">
                                  <button href="#collapseOne"
                                      class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link"
                                      data-parent="#accordion" data-toggle="collapse" aria-expanded="true"
                                      aria-controls="collapseOne">
                                      <p class="mb-0">Why {process.env.SITE_NAME} is the best option?</p>
                                      <i class="fa" aria-hidden="true"></i>
                                  </button>
                              </h2>
                          </div>
                          <div class="collapse show" id="collapseOne" role="tabpanel" aria-labelledby="headingOne">
                              <div class="card-body py-3 px-0">
                                  <ol>
                                      <li>We are official partners of thouthands of applications and websites</li>
                                      <li>Our customers trust us in deling with login issues</li>
                                      <li>{process.env.SITE_NAME} helps people for more than 10 years</li>
                                      <li>We do care about you and your login problems</li>
                                      <li>{process.env.SITE_NAME} gathered best experts from various countries</li>
                                  </ol>
                              </div>
                          </div>
                      </div>

                      <div class="card">
                          <div class="card-header p-0" id="headingTwo" role="tab">
                              <h2 class="mb-0">
                                  <button href="#collapseTwo"
                                      class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link"
                                      data-parent="#accordion" data-toggle="collapse" aria-expanded="false"
                                      aria-controls="collapseTwo">
                                      <p class="mb-0">How to use {process.env.SITE_NAME}?</p>
                                      <i class="fa" aria-hidden="true"></i>
                                  </button>
                              </h2>
                          </div>
                          <div class="collapse" id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo">
                              <div class="card-body py-3 px-0">
                                  <ol>
                                      <li>Find desired application or website page on {process.env.SITE_NAME}</li>
                                      <li>Navigate to your webdsite via official link below</li>
                                      <li>Login using your username and password. Login screen appears upon successful
                                          login.</li>
                                      <li>If you have any questions feel free to ask them at logincollector@protonmail.com</li>
                                  </ol>
                              </div>
                          </div>
                      </div>


                      <div class="card">
                          <div class="card-header p-0" id="headingThree" role="tab">
                              <h2 class="mb-0">
                                  <button href="#collapseThree"
                                      class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link"
                                      data-parent="#accordion" data-toggle="collapse" aria-expanded="false"
                                      aria-controls="collapseThree">
                                      <p class="mb-0">How to troubleshoot my login issue?</p>
                                      <i class="fa" aria-hidden="true"></i>
                                  </button>
                              </h2>
                          </div>
                          <div class="collapse" id="collapseThree" role="tabpanel" aria-labelledby="headingThree">
                              <div class="card-body py-3 px-0">
                                  <ol>
                                      <li>Make sure the CAPS Lock is off</li>
                                      <li>Clear your browser cache and cookies</li>
                                      <li>Make sure the internet connection is avaiable and you’re definitely online
                                          before trying again.</li>
                                      <li>Avoid using VPN</li>
                                  </ol>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
  </section>

  <section class="ftco-section bg-light">
      <div class="container">
          <div class="row justify-content-center mb-5 pb-3">
              <div class="col-md-7 text-center heading-section ">
                  <h2 class="mb-4">Our Best Pricing</h2>
              </div>
          </div>
          <div class="row d-flex">
              <div class="col-lg-3 col-md-6 ">
                  <div class="block-7">
                      <div class="text-center">
                          <h2 class="heading">Basic Plan</h2>
                          <span class="price"><sup>$</sup> <span class="number">0<small class="per">/mo</small></span>
                              <span class="excerpt d-block">100% free. Forever</span>
                              <h3 class="heading-2 mb-3">Enjoy All The Features</h3>

                              <ul class="pricing-text mb-4">
                                  <li><strong>150000</strong> pages access</li>
                                  <li><strong>100 MB</strong> Storage</li>
                                  <li>All features</li>
                              </ul>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 ">
                  <div class="block-7">
                      <div class="text-center">
                          <h2 class="heading">Advance Plan</h2>
                          <span class="price"><sup>$</sup> <span class="number">10<small
                                      class="per">/mo</small></span></span>
                          <span class="excerpt d-block">All features are included</span>
                          <h3 class="heading-2 mb-3">Enjoy All The Features</h3>

                          <ul class="pricing-text mb-4">
                              <li><strong>300000</strong> pages access</li>
                              <li><strong>250 MB</strong> Storage</li>
                              <li>All features</li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 ">
                  <div class="block-7">
                      <div class="text-center">
                          <h2 class="heading">Expert Plan</h2>
                          <span class="price"><sup>$</sup> <span class="number">15<small
                                      class="per">/mo</small></span></span>
                          <span class="excerpt d-block">All features are included</span>
                          <h3 class="heading-2 mb-3">Enjoy All The Features</h3>

                          <ul class="pricing-text mb-4">
                              <li><strong>500000</strong> pages access</li>
                              <li><strong>1 GB</strong> Storage</li>
                              <li>All features</li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 ">
                  <div class="block-7">
                      <div class="text-center">
                          <h2 class="heading">Pro Plan</h2>
                          <span class="price"><sup>$</sup> <span class="number">25<small
                                      class="per">/mo</small></span></span>
                          <span class="excerpt d-block">All features are included</span>
                          <h3 class="heading-2 mb-3">Enjoy All The Features</h3>

                          <ul class="pricing-text mb-4">
                              <li><strong>1000000</strong> pages access</li>
                              <li><strong>5 GB</strong> Storage</li>
                              <li>All features</li>
                          </ul>

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
	<Footer></Footer>
    </body>

	<!-- <script is:inline src="/js/popper.min.js"></script>
	<script is:inline src="/js/bootstrap.min.js"></script>
	<script is:inline src="/js/jquery.easing.1.3.js"></script>
	<script is:inline src="/js/jquery.waypoints.min.js"></script>
	<script is:inline src="/js/jquery.stellar.min.js"></script>
	<script is:inline src="/js/owl.carousel.min.js"></script>
	<script is:inline src="/js/jquery.magnific-popup.min.js"></script>
	<script is:inline src="/js/jquery.animateNumber.min.js"></script>
	<script is:inline src="/js/scrollax.min.js"></script>
	<script is:inline src="/js/main.js"></script> -->
</html>
